@model Projeto_.NET.Models.Jogador;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>Seu jogador: @Model.getNome(), tem @Model.getAltura()m de altura, camisa @Model.getNum(), calça @Model.getNrm_Chuteira()</h1>

    <h2> O que deseja fazer agora?</h2>
    <ul>
        <li class="lista">Criar outro jogador</li>
        <li class="lista">Procurar outro jogador</li>
        <li class="lista">Atualizar um jogador</li>
        <li class="lista">Deletar um jogador</li>
    </ul>
</div>

