@{
    ViewData["Title"] = "Home Page";
}
@model Projeto_.NET.Models.Jogador

<div class="text-center">
    <h1>Bem vindo</h1>
    <div class="botao">
        <a class="text-center link" asp-action="Home">Criar jogador agora</a>
    </div>
</div>
